/* element selector */

a {
    text-decoration: none;
    color: #5A4A42;
}

a:hover {
    color: #FAF0E4;
    filter: brightness(130%);
}


body {
    margin: 0 5%;
    font-family: bitter, serif;
    line-height: 2.5vw;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    font-weight: 700;
    color: #FF8551;
    height: 16%;
    width: 100%;
    background-color: #00000050;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
}

h2 {
    font-size: 3vw;
    font-weight: 500;
    color: #5A4A42;
    text-align: center;
    vertical-align: middle;
}

h3 {
    font-size: 2vw;
    font-weight: 600;
    color: #9BCDD2;
}
p {
    font-size: 1.4vw;
}

/* id selector */

#nav-bar {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    height: 8vw;
    align-items: center;
    background-color: #9BCDD2;
    text-decoration: none;
}

#home-img {
    display: flex;
    position: relative;
}

#home-img img {
    width: 100%;
    object-fit: contain;
}

#special {
    background-color: #FAF0E4;
    padding: 2% 0 5%;
}

#menu {
    background-color: #9BCDD2;
    padding: 2% 0 5%;

}

#gallery {
    display: flex;
    flex-direction: column;
    background-color: #FFDEDE;
    padding: 2% 0 5%;
}

#location {
    background-color: #FAF0E4;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 5%;
}

#location img {
    width: 100%;
}


#footer {
    background-color: #9BCDD2;
    align-items: center;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

#footer>img {
    width: 20%;
    height: auto;
}

#footer p {
    margin-top: 5%;
}

/* class selector */

.main {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.top-logo img {
    height: 6vw;
}

.top-logo:hover {
    filter: brightness(140%);
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    padding: 2%;
    font-size: 1.8vw;
    font-weight: 500;
}

.special-list {
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
}

.combo-list {
    display: flex;
    position: relative;
    justify-content: center;
}

.combo-list img,
.menu-list img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 5% 5% 0 0;
}

.combo-list p {
    position: absolute;
    margin-bottom: 0;
    padding: 1% 0;
    bottom: 0;
    background-color: #00000050;
    width: 80%;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.menu-list {
    display: flex;
    gap: 4.5vw;
}

.menu-list>div {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu-list div a {
    position: absolute;
    bottom: 1vw;
    right: 5vw;
}

.gallery-list {
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: 100%;
}

.gallery-list>img {
    flex: 1.2;
    width: 60%;
    object-fit: cover;
}

.gallery-text {
    background-color: #FF8551;
    text-align: center;
    color: #fff;
    font-size: 4vw;
    line-height: 6vw;
    flex: 1;
}

.gallery-list div .blue-button {
    margin-top: 30%;
}

.location-list {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    grid-template-rows: 3vw 4vw;
    padding-left: 10%;
}

.location-list p,
.location-list a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1vw;
}

.orange-button {
    width: 12vw;
    height: 3vw;
    font-size: 1.6vw;
    text-align: center;
    background-color: #FF8551;
    padding: 2% 10%;
    color: white;
    border: none;
    border-radius: 2vw;
}

.orange-button:hover,
.blue-button:hover {
    filter: brightness(110%);
}

.blue-button {
    width: 16vw;
    height: 4vw;
    font-size: 2vw;
    text-align: center;
    background-color: #9BCDD2;
    padding: 2% 10%;
    color: #000;
    border: none;
    border-radius: 3vw;
    color: #fff;
}

.footer-title {
    font-size: 2.5vw;
    font-weight: 500;
    color: #5A4A42;
}

.footer-content {
    display: flex;
    gap: 10%;
}

.footer-about,
.footer-follow {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

}

.footer-about a {
    align-self: flex-end;
    margin-right: 2%;
}

.media-list {
    display: flex;
    width: 60%;
    max-width: 300px;
    justify-content: space-between;
    align-self: flex-end;
    margin-right: 2%;
    position: absolute;
    bottom: 0;
}

.copyright {
    font-weight: 300;
}

/* icon */

.icon {
    width: 2vw;
    height: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 2%;
}

.location-icon {
    background-image: url(./images/icons/location.png);
}

.phone-icon {
    background-image: url(./images/icons/phone.png);
}

.hours-icon {
    background-image: url(./images/icons/hours.png);
}

.email-icon {
    background-image: url(./images/icons/email.png);
}

.special-icon {
    width: 3vw;
    height: 3vw;
    background-image: url(./images/icons/special.png);
}

.coffee-icon {
    width: 3vw;
    height: 3vw;
    background-image: url(./images/icons/coffee.png);
}

.snack-icon {
    width: 3vw;
    height: 3vw;
    background-image: url(./images/icons/snack.png);
}

.M-email-icon {
    background-image: url(./images/icons/media-email.png);
}

.M-phone-icon {
    background-image: url(./images/icons/media-phone.png);
}

.M-facebook-icon {
    background-image: url(./images/icons/media-facebook.png);
}

.M-twitter-icon {
    background-image: url(./images/icons/media-twitter.png);
}

.M-ins-icon {
    background-image: url(./images/icons/media-instagram.png);
}

/* about page */

#story {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF0E4;
    padding: 5%;
}

#story img {
    float: left;
    width: 30%;
    margin-right: 3%;
}

#story p {
    color: #5A4A42;
}

.pageheading-img {
    width: 100%;
    object-fit: contain;
}

/* menu page */

#menu-special {
    background-color: #FFDEDE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 5%;
    row-gap: 2vw;
}

#menu-special h2,
#menu-special i {
    display: flex;
    margin-right: 1vw;
    align-items: center;
}

#menu-main {
    background-color: #FAF0E4;
    display: flex;
    flex-direction: column;
    padding: 3% 0 5%;
}

.menu-img {
    width: 100%;
    object-fit: cover;
}

.combo {
    display: grid;
    overflow: hidden;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 2vw;
    row-gap: 1vw;
    margin-top: 5%;
}

.combo>img {
    grid-row: span 2;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.combo p {
    margin: 0;
}

.combo-info {
    grid-column: span 2;
    color: #5A4A42;
}

.combo-title,
.combo-price {
    font-size: 1.8vw;
    font-weight: 500;
    color: #FF8551;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-card {
    display: grid;
    width: 70%;
    grid-template-columns: 0.8fr 1.2fr;
    column-gap: 1vw;
    justify-items: start;
    align-items: center;
    border: 1px solid lightgray;
}

.menu-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    justify-items: center;
}

.menu-card>img {
    grid-row: span 2;
    width: 100%;
    object-fit: contain;
}

.menu-card p {
    font-size: 1.8vw;
    font-weight: 500;
    color: #5A4A42;
    margin: 0;
}

.menu h2,
.menu i {
    display: flex;
    margin-right: 1vw;
    align-items: center;
}

.snacks {
    margin-top: 5%;
}


/* Gallery page */

#gallery-main {
    background-color: #FAF0E4;
    padding: 3% 0 5%;
}

.gallery-content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 20px;
}

.img-list a img {
    width: 100%;
    height: 22vh;
    object-fit: cover;
}

/* Location page */

.location-map {
    background-color: #FAF0E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 5%;
}

.location-map a img {
    width: 100%;
}

.contact-card {
    display: flex;
    background-color: #FFDEDE;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0;
}

.contact-card img {
    display: flex;
    float: right;
    width: 30%;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 1vwx;
    color: #5A4A42;
}

.contact-info p,
.contact-info a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4vw;
    color: #5A4A42;
}

/* Contact page */
.contact-form {
    width: 100%;
    background-color: #FAF0E4;
    padding: 10px 0;
}

label {
    float: left;
    clear: left;
    display: block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}

.required-field::after {
    content: "*";
    color: #FF8551;
}

input,
textarea {
    margin-top: 10px;
    display: block;
    padding: 10px 20px;
    border: 2px solid #ffa773;
    border-radius: 5px;
}

input[type="submit"] {
    font-size: 1.4vw;
    margin-left: 110px;
    background-color: #FF8551;
    border: none;
    padding: 1vw 1.6vw;
    color: #fff;
}

.slider {
    appearance: none;
    padding: 0;
    height: 12px;
    border-radius: 6px;
    border: none;
    background: #9BCDD2;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FF8551;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FF8551;
    cursor: pointer;
}

@supports (display: grid) {
    form {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 6em 1fr;
        grid-gap: 1em;
        gap: 1em;
        min-width: 25em;
        width: 80%;
        padding: 1.5em
    }

    input[type="submit"] {
        grid-column: 2 / 3;
        width: 10em;
        margin-left: 0;
    }

    input[type="submit"]:hover {
        background-color: #ffa773;
    }
}

/* media query */

@media (max-width: 1024px) {

    .location-list,
    .footer-content {
        display: flex;
        flex-direction: column;

    }

    .footer-follow {
        flex: 1;
        display: flex;
        flex-direction: column;
        clear: both;

    }

    .media-list {
        position: static !important;
    }

    .menu-card-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    #story img {
        width: 100%;
        margin-bottom: 3%;
    }

    .gallery-content {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;
    }

}